In [1]:
pip install import_ipynb

Collecting import_ipynb
  Downloading import_ipynb-0.1.4-py3-none-any.whl (4.1 kB)
Requirement already satisfied: nbformat in /opt/conda/lib/python3.7/site-packages (from import_ipynb) (5.0.6)
Requirement already satisfied: IPython in /opt/conda/lib/python3.7/site-packages (from import_ipynb) (7.14.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.7/site-packages (from IPython->import_ipynb) (46.1.3.post20200325)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from IPython->import_ipynb) (3.0.5)
Requirement already satisfied: backcall in /opt/conda/lib/python3.7/site-packages (from IPython->import_ipynb) (0.1.0)
Requirement already satisfied: pygments in /opt/conda/lib/python3.7/site-packages (from IPython->import_ipynb) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.7/site-packages (from IPython->import_ipynb) (4.3.3)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.7/site-packages (from IPython->import_ipynb) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /opt/conda/lib/python3.7/site-packages (from IPython->import_ipynb) (0.17.0)
Requirement already satisfied: pexpect in /opt/conda/lib/python3.7/site-packages (from IPython->import_ipynb) (4.8.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from IPython->import_ipynb) (4.4.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/conda/lib/python3.7/site-packages (from nbformat->import_ipynb) (3.2.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.7/site-packages (from nbformat->import_ipynb) (0.2.0)
Requirement already satisfied: jupyter-core in /opt/conda/lib/python3.7/site-packages (from nbformat->import_ipynb) (4.6.3)
Requirement already satisfied: parso>=0.7.0 in /opt/conda/lib/python3.7/site-packages (from jedi>=0.10->IPython->import_ipynb) (0.7.0)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->import_ipynb) (1.6.0)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->import_ipynb) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/conda/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->import_ipynb) (0.16.0)
Requirement already satisfied: six>=1.11.0 in /opt/conda/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->import_ipynb) (1.14.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->import_ipynb) (0.1.9)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.7/site-packages (from pexpect->IPython->import_ipynb) (0.6.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->jsonschema!=2.5.0,>=2.4->nbformat->import_ipynb) (3.1.0)
Installing collected packages: import-ipynb
Successfully installed import-ipynb-0.1.4
WARNING: You are using pip version 21.3.1; however, version 23.3.1 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

import import_ipynb
from N1_SportProjectMilestone import Summer_Games, Winter_Games

importing Jupyter notebook from N1_SportProjectMilestone.ipynb
Male athletes
ID        101590
Name      100979
Sex            1
Age           74
Height        92
Weight       206
Team        1154
NOC          230
Games         51
Year          35
Season         2
City          42
Sport         63
Event        554
Medal          3
dtype: int64
---
Female athletes
ID        33981
Name      33808
Sex           1
Age          62
Height       77
Weight      140
Team        374
NOC         222
Games        50
Year         34
Season        2
City         42
Sport        53
Event       269
Medal         3
dtype: int64
Summer games
ID        116776
Name      116122
Sex            2
Age           74
Height        95
Weight       219
Team        1157
NOC          230
Games         29
Year          29
Season         1
City          23
Sport         52
Event        651
Medal          3
dtype: int64
---
Winter games
ID        18958
Name      18923
Sex           2
Age          47
Height       64
Weight      125
Team        221
NOC         119
Games        22
Year         22
Season        1
City         19
Sport        17
Event       119
Medal         3
dtype: int64

# Correlation coefficient
The correlation index is a statistical measure that quantifies the relationship between two variables. In other words, it indicates how one variable changes when the other variable changes. This index provides information about the direction and strength of the relationship between the two variables.

The most common correlation index is the Pearson correlation coefficient, denoted as "r," which ranges from -1 to 1. Here's a brief explanation of how to interpret "r" values:

r = 1: Indicates a perfect positive correlation, meaning that as one variable increases, the other also increases in the same proportion.

r = -1: Indicates a perfect negative correlation, meaning that as one variable increases, the other decreases in the same proportion.

r = 0: Indicates a lack of linear correlation between the two variables.

0 < |r| < 1: Indicates a positive or negative correlation, depending on the sign of "r." The closer the absolute value of "r" is to 1, the stronger the correlation.

It's important to note that correlation does not imply causation. Just because two variables are correlated does not necessarily mean that one causes the other; there may be other variables or factors at play. Additionally, correlation specifically focuses on linear relationships; there may be non-linear relationships that are not well captured by the Pearson correlation coefficient.

In [3]:
summer_medal_count = pysqldf('''
                         SELECT
                             Year,
                             COUNT(*) AS total_count,
                             SUM(CASE
                                   WHEN Medal IS NOT NULL THEN 1 ELSE 0
                                 END) AS medal_count,
                             SUM(CASE
                                   WHEN Medal = "Gold" THEN 1 ELSE 0
                                 END) AS gold_count,
                             SUM(CASE
                                   WHEN Medal = "Silver" THEN 1 ELSE 0
                                 END) AS silver_count,
                             SUM(CASE
                                   WHEN Medal = "Bronze" THEN 1 ELSE 0
                                 END) AS bronze_count
                             FROM
                               Summer_Games
                             GROUP BY
                               Year 
                                   ''')

In [5]:
winter_medal_count = pysqldf('''
                         SELECT
                             Year,
                             COUNT(*) AS total_count,
                             SUM(CASE
                                   WHEN Medal IS NOT NULL THEN 1 ELSE 0
                                 END) AS medal_count,
                             SUM(CASE
                                   WHEN Medal = "Gold" THEN 1 ELSE 0
                                 END) AS gold_count,
                             SUM(CASE
                                   WHEN Medal = "Silver" THEN 1 ELSE 0
                                 END) AS silver_count,
                             SUM(CASE
                                   WHEN Medal = "Bronze" THEN 1 ELSE 0
                                 END) AS bronze_count
                             FROM
                               Winter_Games
                             GROUP BY
                               Year 
                                   ''')

In [6]:
print(summer_medal_count.head())

   Year  total_count  medal_count  gold_count  silver_count  bronze_count
0  1896          380          143          62            43            38
1  1900         1936          604         201           228           175
2  1904         1301          486         173           163           150
3  1906         1733          458         157           156           145
4  1908         3101          831         294           281           256

In [7]:
print(winter_medal_count.head())

   Year  total_count  medal_count  gold_count  silver_count  bronze_count
0  1924          460          130          55            38            37
1  1928          582           89          30            28            31
2  1932          352           92          32            32            28
3  1936          895          108          36            37            35
4  1948         1075          135          41            48            46

In [18]:
print(winter_medal_count)

    Year  total_count  medal_count  gold_count  silver_count  bronze_count
0   1924          460          130          55            38            37
1   1928          582           89          30            28            31
2   1932          352           92          32            32            28
3   1936          895          108          36            37            35
4   1948         1075          135          41            48            46
5   1952         1088          136          45            44            47
6   1956         1307          150          51            49            50
7   1960         1116          147          50            48            49
8   1964         1778          186          61            67            58
9   1968         1891          199          66            70            63
10  1972         1655          199          70            63            66
11  1976         1861          211          70            71            70
12  1980         1746          218          72            73            73
13  1984         2134          222          74            74            74
14  1988         2639          263          87            88            88
15  1992         3436          318         104           108           106
16  1994         3160          331         110           109           112
17  1998         3605          440         145           145           150
18  2002         4109          478         162           157           159
19  2006         4382          526         176           175           175
20  2010         4402          520         174           175           171
21  2014         4891          597         202           197           198

Winter games started in 1924, but Summer games started in 1986. The difference between the total of games are 7 registers.

In [8]:
print(summer_medal_count)

    Year  total_count  medal_count  gold_count  silver_count  bronze_count
0   1896          380          143          62            43            38
1   1900         1936          604         201           228           175
2   1904         1301          486         173           163           150
3   1906         1733          458         157           156           145
4   1908         3101          831         294           281           256
5   1912         4040          941         326           315           300
6   1920         4292         1308         493           448           367
7   1924         5233          832         277           281           274
8   1928         4992          734         245           239           250
9   1932         2969          647         229           214           204
10  1936         6506          917         312           310           295
11  1948         6405          852         289           284           279
12  1952         8270          897         306           291           300
13  1956         5127          893         302           293           298
14  1960         8119          911         309           294           308
15  1964         7702         1029         347           339           343
16  1968         8588         1057         359           340           358
17  1972        10304         1215         404           392           419
18  1976         8641         1320         438           434           448
19  1980         7191         1384         457           458           469
20  1984         9454         1476         497           477           502
21  1988        12037         1582         520           513           549
22  1992        12977         1712         559           549           604
23  1996        13780         1842         608           605           629
24  2000        13821         2004         663           661           680
25  2004        13443         2001         664           660           677
26  2008        13602         2048         671           667           710
27  2012        12920         1941         632           630           679
28  2016        13688         2023         665           655           703

# we need to start in the 7º elment of summer_medal_count DF

In [9]:
summer_medal_count_new = summer_medal_count[7:]

In [10]:
print(summer_medal_count_new)

    Year  total_count  medal_count  gold_count  silver_count  bronze_count
7   1924         5233          832         277           281           274
8   1928         4992          734         245           239           250
9   1932         2969          647         229           214           204
10  1936         6506          917         312           310           295
11  1948         6405          852         289           284           279
12  1952         8270          897         306           291           300
13  1956         5127          893         302           293           298
14  1960         8119          911         309           294           308
15  1964         7702         1029         347           339           343
16  1968         8588         1057         359           340           358
17  1972        10304         1215         404           392           419
18  1976         8641         1320         438           434           448
19  1980         7191         1384         457           458           469
20  1984         9454         1476         497           477           502
21  1988        12037         1582         520           513           549
22  1992        12977         1712         559           549           604
23  1996        13780         1842         608           605           629
24  2000        13821         2004         663           661           680
25  2004        13443         2001         664           660           677
26  2008        13602         2048         671           667           710
27  2012        12920         1941         632           630           679
28  2016        13688         2023         665           655           703

In [11]:
import numpy as np

In [12]:
x_simple = winter_medal_count.medal_count
y_simple = summer_medal_count_new.medal_count
my_rho = np.corrcoef(x_simple, y_simple)

In [17]:
print(y_simple)

7      832
8      734
9      647
10     917
11     852
12     897
13     893
14     911
15    1029
16    1057
17    1215
18    1320
19    1384
20    1476
21    1582
22    1712
23    1842
24    2004
25    2001
26    2048
27    1941
28    2023
Name: medal_count, dtype: int64

In [13]:

print(my_rho)

[[1.         0.94141801]
 [0.94141801 1.        ]]

# Analisis
the correlation coefficient show us thar there is almost a perfecto correlation (94%) between winter an summer games.

In [14]:
std_medal_count_summer_olympics = np.std(y_simple)
std_medal_count_winter_olympics = np.std(x_simple)

In [15]:

print("std_medal_count_summer_olympics =",std_medal_count_summer_olympics)
print("std_medal_count_winter_olympics =",std_medal_count_winter_olympics)

std_medal_count_summer_olympics = 475.323015441357
std_medal_count_winter_olympics = 152.56899942903493

From 1924 to 2016, as the standard deviation in the summer olympics is about 3 times that in the winter olympics, country performance by year change more in Summer Olympics.